@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic&display=swap&subset=cyrillic-ext");
body {
    height: 1000px;
}

.cart__text {
    background-color: #00a4b3;
    box-shadow: none;
}
.main__page-title {
    font-style: normal;
    font-family: "PT Sans";
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 12px;

    text-align: center;
    margin-top: 25px;
}

.order-modal__item {
    list-style-type: none;
}
.order-modal__item:not(:last-child) {
    margin-bottom: 10px;
}
.discription {
    font-style: normal;
    font-family: "PT Sans";
    height: 500px;
    line-height: 50px;
    /* padding: 0 30px; */
    /* display: list-item; */
    display: column;

    font-size: 30px;
    text-align: left;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.order-product__img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: auto;
    padding: 0 30px;
    margin-bottom: 7px;
    margin-top: 50px;
}
