@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic&display=swap&subset=cyrillic-ext");
body {
    height: 1000px;
}

.cart__text {
    background-color: #00a4b3;
    box-shadow: none;
}
.main__page-title {
    font-style: normal;
    font-family: "PT Sans";
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 12px;

    text-align: center;
    margin-top: 25px;
}

.order-modal__item {
    list-style-type: none;
}
.order-modal__item:not(:last-child) {
    margin-bottom: 10px;
}
.discription {
    font-style: normal;
    font-family: "PT Sans";
    padding: 0 10px;
    line-height: 50px;
    display: column;
    color: #000000cc;
    font-size: 25px;
    text-align: left;
}

.order-product__img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: auto;
    padding: 0 30px;
    margin-bottom: 7px;
    margin-top: 50px;
}

@media (max-width: 925px) {
    .header__cart {
        display: none;
    }
}
@media (max-width: 617px) {
    .nav__list {
        display: flex;
        margin-top: 40px;
    }
    .nav__link {
        font-size: 20px;
    }
    .discription {
        font-size: 23px;
    }
    .header__cart {
        display: none;
    }
}

@media (max-width: 308px) {
    .header {
        position: relative;
        height: 150px;
        min-width: 307px;
    }
    .nav__list {
        text-align: center;
        display: grid;
        list-style-type: none;
        margin-top: 10px;
        padding-left: 0;
    }
    .order-product__img {
        display: none;
    }
    .discription {
        font-size: 20px;
        line-height: 35px;
    }
    body {
        height: 800px;
    }
    .header__cart {
        display: none;
    }
    .nav__list {
        display: none;
    }
}
