@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic&display=swap&subset=cyrillic-ext");

.cart__text {
    background-color: #00a4b3;
    box-shadow: none;
}
.container {
    /* width: 940px; */
    /* padding: 0 60px; */
    margin: 0 auto;
    position: relative;
}
.body {
    font-family: "PT Sans";
}
.product-main-page {
    margin-top: 100px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    font-family: "PT Sans";
    justify-content: space-between;
}
.product-main-page__img img {
    max-width: 400px;
    max-height: 629px;
    object-fit: cover;
}
.product-main-page__info {
    height: 500px;
    display: grid;
    justify-content: space-between;
    margin-left: 60px;

    margin-right: auto;
}

.product-main-page__title {
    padding-top: 9px;
    font-size: 26px;
    margin-bottom: 12px;
}
.product-main-page__author {
    font-size: 16px;
    /* font-weight: 300; */
    font-style: normal;
    color: #0000008c;
    margin: 0;
}
.product-main-page__bottom {
    padding-top: 30px;
    border-top: 1px solid #d9d9d9;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.product-main-page__bottom .container {
    width: inherit;
}

.product-main-page__anotation {
    width: inherit;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 54px;
}
.product-main-page__anotation spam.sup {
    align-items: left;
    /* margin-left: 100px; */
}
.product-main-page__anotation spam.unsup {
    width: 130px;

    align-items: left;

    /* margin-left: 100px; */
}
.product-main-page__top {
    width: 750px;
}

.product-main-page__anotation:not(:last-child) {
    margin-bottom: 11px;
}
.product-main-page__right {
    align-content: right;
    display: grid;
    width: 200px;
    height: 100px;
    align-items: top;
    margin-left: 200px;
    padding: 20px;
    background-color: #00a4b334;
}
.product-main-page__price {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}
.product-main-page__btn {
    padding: 0 auto;
    background-color: hsl(185, 100%, 35%);
    color: white;
    font-size: 18px;
}

.product-main-page__btn:hover {
    background-color: hsla(185, 100%, 35%, 0.788);
}
.bottom__description {
    padding: 32px 0;
    padding-right: 320px;
    line-height: 28px;
}

.product__description-anotation {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    width: 28px;
    color: #0000008c;
}

.bottom__description-text {
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
}

.height {
    height: 40px;
}

@media (max-width: 925px) {
    .nav {
        max-width: 924px;
    }
    .product-main-page {
        padding: 0 10px;
    }
    .product-main-page__bottom {
        display: grid;
    }
    .product-main-page__right {
        margin-left: 0;
    }
    .product-main-page__top {
        width: 100%;
    }
    .bottom__description {
        padding-right: 200px;
        padding-left: 40px;
    }
    .header__cart {
        display: none;
    }
}

@media (max-width: 617px) {
    .product-main-page {
        display: grid;
        align-items: center;
        padding-left: 20px;
        padding-bottom: 40px;
    }
    .container {
        padding: 0 0;
    }
    .product-main-page__img {
        padding-left: 60px;
    }
    .nav__list {
        display: flex;
        margin-top: 40px;
    }
    .nav__link {
        font-size: 20px;
    }
    .bottom__description {
        padding-right: 100px;
        padding-left: 40px;
    }
    .header__cart {
        display: none;
    }
}

@media (max-width: 308px) {
    .header {
        position: relative;
        height: 150px;
        min-width: 307px;
    }
    .nav__list {
        text-align: center;
        display: grid;
        list-style-type: none;
        margin-top: 10px;
        padding-left: 0;
    }
    .product-main-page {
        margin-top: 20px;
    }
    .product-main-page__img img {
        max-width: 270px;
        max-height: 629px;
        padding-left: 0;
        object-fit: cover;
    }
    .product-main-page__img {
        padding-left: 0;
    }
    .product-main-page__info {
        height: 500px;
        display: grid;
        justify-content: space-between;
        margin-left: 0px;
        margin-right: auto;
    }
    .bottom__description {
        padding-right: 10px;
        padding-left: 10px;
    }
    .bottom__description-text {
        font-size: 16px;
        line-height: 25px;
    }
    .header__cart {
        display: none;
    }
    .nav__list {
        display: none;
    }
}
